<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="<%= dato.color %>">
    <a href="/Deslogueo">Desloguearse</a>
    <br>
    <a href="/Color">Olvidar Color</a>
    <h1>
        <%= dato.nombre %> , gracias por visitarnos.
    </h1>
</body>

</html>